body {
    margin: auto;
    width: 600px;
    font-family: Smythe, sans-serif;
}

header {
    background-image: url('images/diner-background.jpg') ;
    height: 178px;
    background-position: center -163px;
}

main {
    width: 500px;
    margin: auto;
}

h1 {
    color: #FFF;
    line-height: 24px
}

h2 {
    color: #FFF;
    font-size: 22px;
    line-height: 13px
}

h3 {
    font-size: 28px;
    margin: 0px;
}

h4 {
    font-size: 20px;
    margin: 0px;
}

.smallText {
    color: #8B8B8B;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 20px;
    user-select: none
}

.title {
    padding: 46px 0px 0px 46px
}

.order-title {
    text-align: center;
    margin-bottom: 25px;
}


/* Buttons & Inputs */
.inputCardDetails {
    margin: 23px;
    padding-left: 15px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1.5px solid #757575;
    color: #757575;
    font-family: Verdana;
    font-size: 20px;
    font-style: normal;
    line-height: 31px
}

.add-item-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-color: transparent;
    font-size: 32px;
}

.emoji {
    font-size: 64px;
}

.item-container {
    margin: 25px auto;
    padding-bottom: 35px;
    width: 500px;
    border-bottom: 2px solid lightgray;
}

.item-holder {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}


.margin-right {
    margin-right: auto;
}

.total-price {
    margin-top: 10px;
}

.order-button {
    color: var(--white, #FFF);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border: none;
    padding: 18px 175px;
    border-radius: 3px;
    background: #16DB99;
    margin: 10px 0px;
}

.pay-button {
    width: 475px;
    margin: auto;
}

.billing-container {
    text-align: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 554px;
    width: 524px;
    border-radius: 5px;
    box-shadow: 0px 0px 400px 1px #000000;
    background-color: white;
}

.billing-title {
    margin: 0px 0px 25px;
    color: #000;
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px
}

.confirmation-container {
    color: #065F46;
    font-size: 32px;
    width: 504px;
    height: 120px;
    border-radius: 3px;
    background: #ECFDF5;
    justify-content: center;
    align-items: center;
}

.returnToCartBtn {
    height: 25px;
    width: 25px;
    margin: 15px 15px 0px auto;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
input,
.smallText {
    font-weight: 400
}

.total-price,
.item-holder,
.item-container,
.discount-container {
    justify-content: space-between;
}

.total-price,
.item-holder,
.item-container,
.confirmation-container,
.billing-container,
.discount-container {
    display: flex;
}

/* Float Animation */
@keyframes floatDown {
    0% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(200px)
    }
}

.floating-emoji {
    position: fixed;
    font-size: 64px;
    animation: floatDown 2s ease-in-out;
}