body {
    margin: 0 auto;
    width: 600px;
}

header {
    background-image: url('images/diner-background.jpg') ;
    background-position: center;
    height: 178px;
    background-position: center -163px;
}

h1 {
    margin-top: 0px;
    color: #FFF;
    font-family: Smythe;
    font-size: 39px;
    font-weight: 400;
    line-height: 24px; /* 61.538% */
}

h2 {
    color: #FFF;
    font-family: Smythe;
    font-size: 22.422px;
    font-weight: 400;
    line-height: 13.798px; /* 61.538% */
}

.title {
    padding: 46px 0px 0px 46px
}